<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrandMonak</title>
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/vendor/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
</head>

<body class="set-bg" data-bg="/assets/images/backgrounds/bg3.png">

    <header id="in-header">
        <div class="container">
            <nav>
                <div class="in-nav-logo">
                    <img src="/assets/images/logo1.png" alt="Logo">
                </div>
                <ul class="in-nav-menu">
                    <li class="in-nav-menu-item">
                        <a href="#" class="in-nav-menu-link active">
                        Home
                    </a>
                    </li>
                    <!-- <li class="in-nav-menu-item">
                        <a href="#" class="in-nav-menu-link">
                        About us
                    </a> -->
                    </li>
                    <li class="in-nav-menu-item">
                        <a href="/contact" class="in-nav-menu-link">
                        Contact us
                    </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="in-banner-section set-bg" data-bg="/assets/images/backgrounds/bg1.jpg">
        <div class="container">
            <div class="in-banner-content">
                <div class="in-banner-box">
                    <h2 class="in-banner-title">
                        We take digital experience
                    </h2>
                </div>
                <div class="in-banner-box">
                    <h2 class="in-banner-title">
                        to the next level

                    </h2>
                </div>
                <div class="in-banner-box">
                    <blockquote>
                        <p>Our website design company specializes in the professional creation of&nbsp; website that converts visitors to buyers</p>
                    </blockquote>
                </div>
                <div class="in-banner-box  spt">
                    <a href="https://wa.me/+2349039709276" class="in-consult-btn btn" role="button">
                        <span>
                            <i aria-hidden="true" class="fas fa-angle-down"></i>
                         </span>

                        <span class="in-button-text">Free Consultation</span>
                    </a>
                </div>
            </div>
        </div>

    </div>
    </div>

    <div class="in-section">
        <div class="container">
            <div class="row">
                <div class="in-section-header">
                    <h4>
                        Our expertise
                    </h4>
                    <p>Making changes in your life is great and it is the way we grow and develop as people change is a constant.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="in-card">
                        <div class="in-card-img-box">
                            <img src="/assets/images/service_img_1.jpg" class="card-img-top" alt="Service images">

                        </div>
                        <div class="in-card-body">
                            <h4 class="in-card-title">Strategy</h4>
                            <p class="in-card-text">
                                The first people youll meet are our business technology experts.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="in-card">
                        <div class="in-card-img-box">
                            <img src="/assets/images/service_img_2.jpg" class="card-img-top" alt="Service images">

                        </div>
                        <div class="in-card-body">
                            <h4 class="in-card-title">Product Design</h4>
                            <p class="in-card-text">
                                In this stage, we translate the strategic basis of the project.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="in-card">
                        <div class="in-card-img-box">
                            <img src="/assets/images/service_img_3.jpg" class="card-img-top" alt="Service images">

                        </div>
                        <div class="in-card-body">
                            <h4 class="in-card-title">Development</h4>
                            <p class="in-card-text">
                                Our code crafters are included in the project from the beginning.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="in-section">
        <div class="in-section-header-img set-bg" data-bg="/assets/images/backgrounds/bg1.jpg">
            <div class="in-section-header-content">
                <h4>PORTFOLIOS</h4>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-md-6">
                    <div class="in-portfolio-box">
                        <div class="in-portfolio-icon">
                            <i class="fas fa-play-circle"></i>
                        </div>
                        <div class="portfolio-content">
                            <h5>Animations </h5>
                            <p>Introduce your brand, channel, or business with a spectacular animation that draws the eye!.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="in-portfolio-box">
                        <div class="in-portfolio-icon">
                            <i class="fas fa-file-alt"></i>
                        </div>
                        <div class="portfolio-content">
                            <h5>Logo Design</h5>
                            <p>
                                We are an award-winning logo designing agency and can help create the best logo design possible for your business.</p>
                        </div>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="in-portfolio-box">
                        <div class="in-portfolio-icon">
                            <i class="	far fa-building"></i>
                        </div>
                        <div class="portfolio-content">
                            <h5>Stationery Design</h5>
                            <p>This includes Business cards, Letterheads, Invoice, Envelope, Social media kit, Posters, Car wraps Etc.</p>
                        </div>
                    </div>
                </div>




                <div class="col-md-6">
                    <div class="in-portfolio-box">
                        <div class="in-portfolio-icon">
                            <i class="fas fa-server"></i>
                        </div>
                        <div class="portfolio-content">
                            <h5>Website Development</h5>
                            <p>We create stunning, dynamic and highly responsive website. Our websites definitely will enhance your brand's value.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="in-section in-section-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="in-feature-title">
                        <h4>
                            We have Impressive Features
                        </h4>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="in-feature-title">
                        <p>
                            You will love all of the features . 100% guaranteed satisfaction.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-6">
                    <div class="in-feature-box">
                        <div class="in-featur-icon">
                            <i class="fas fa-desktop" style="color: #FFD3DB;"></i>
                        </div>
                        <div class="in-featur-content">
                            <p>Fully Customizable
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="in-feature-box">
                        <div class="in-featur-icon">
                            <i class="fas fa-file" style="color: #FFDC60;"></i>
                        </div>
                        <div class="in-featur-content">
                            <p>Resourceful
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="in-feature-box">
                        <div class="in-featur-icon">
                            <i class="fas fa-mobile" style="color: #6865FF;"></i>
                        </div>
                        <div class="in-featur-content">
                            <p>Mobile Optimized
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="in-section  ">
        <div class="container">
            <div class="row justify-content-center align-item-center">
                <div class="col-lg-10">
                    <div class="in-c-action">
                        <h3 class="tex-center">
                            Let’s Start Your Business Today!
                        </h3>
                        <p>Missing something? Just tell us what you need by <a target="_blank" href="https://support.axilthemes.com/support/">requesting us here.</a> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="in-footer in-section-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6">


                    <div class="in-footer-contact-info clearfix">
                        <p style="text-align: center;">Contact</p>
                        <p style="text-align: center;">+13109538321</p>
                        <p style="text-align: center;">contact@gmail.com</p>
                    </div>



                </div>
                <div class="col-md-6">
                    <div class="in-footer-scm">
                        <div class="in-socail-icon">
                            <a href="https://www.instagram.com/brandmonak" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                        <div class="in-socail-icon">
                            <a href="https://www.facebook.com/bmonak" target="_blank">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </div>
                        <div class="in-socail-icon">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>






    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/main.js" defer></script>
</body>

</html>